{% extends "iish/iishbase.html" %}
{% block content %}
<link rel="stylesheet" href="/static/blocks.css" media="screen" type="text/css" />
<div id="bodycontent">
<h2>{{ projectdata.title }}</h2>
<div id="block-views-introduction-block" class="block block-views last even">

        <h2 class="block__title block-title">About</h2>

  <div class="view view-introduction view-id-introduction view-display-id-block view-dom-id-943e4ea54bf0fe59cab13cfb9d6e2d45">

      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

  <div class="views-field views-field-body">        <div class="field-content"><p>
{{ projectdata.about | safe }}
</p> 
</div>  </div>  </div>
    </div>
</div>
</div>

<div class="grid-6 region region-preface-second" id="region-preface-second">
  <div class="region-inner region-preface-second-inner">
<div class="block-inner clearfix">
<div id="block-menu-menu-explore-discover" class="block block-menu first odd" role="navigation">

        <h2 class="block__title block-title">Explore &amp; datasets</h2>
    
<ul class="menu">
{% if projectdata.ind %}
  <li class="menu__item is-leaf first leaf"><a href="/collabs/datasetspace?dv={{ dataverse }}&action=indicators" title="" class="menu__link">Indicators</a></li>
{% endif %}
<li class="menu__item is-leaf leaf"><a href="http://cliov4.sandbox.socialhistoryservices.org/datasets/search" title="" class="menu__link">Topics</a></li>
{% if projectdata.countries %}
<li class="menu__item is-leaf leaf"><a href="http://cliov4.sandbox.socialhistoryservices.org/datasets/search" title="" class="menu__link">Countries</a></li>
{% endif %}
{% if projectdata.searchdata %}
<li class="menu__item is-leaf last leaf"><a href="http://cliov4.sandbox.socialhistoryservices.org/datasets/search" title="" class="menu__link">Combined search</a></li>
{% endif %}
</ul>
</div>

</div>
</div></div>

<div id="block-views-desc-block" class="block block-views last even">

  <h2 class="block__title block-title">Brief description of the project</h2>
  <div class="view view-introduction view-id-introduction view-display-id-block view-dom-id-943e4ea54bf0fe59cab13cfb9d6e2d45">
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
      
  <div class="views-field views-field-body">        <div class="field-content"><p>
{{ projectdata.description | safe }}
</p> 
</div>  </div>  </div>
    </div>
</div>
</div>

<div id="block-views-visualization-block" class="block block-views last even">
        <h2 class="block__title block-title">Visualize our datasets</h2>
  <a href="/collabs/dashboard?action=visualize&pid=hdl:10622/4X6NCK"><img width="450" src="/collabs/static/1981_4X6NCK_map.png"></a>

</div>



<div>
<br />
<table border=0 valign=top width="100%">
	<tr>
	<td width="100%" valign="top">
	{{ projectdata.summary | safe }}
	</td>
	</tr>
</table>
</div>
</div>
{% endblock %}
