{% extends "iish/iishbase.html" %}
{% block content %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link href="https://www.bootstrap-switch.org/docs/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://www.bootstrap-switch.org/docs/css/highlight.css" rel="stylesheet">
    <link href="https://www.bootstrap-switch.org/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="https://getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
<script type="text/javascript">
$(document).ready(function(){ 
    $("#myTab li:eq({{ tabnum }}) a").tab('show');
});
</script>

<link rel="stylesheet" href="/static/blocks.css" media="screen" type="text/css" />
<div id="bodycontent">
        <ul class="nav nav-tabs" id="myTab">
        <li><a data-toggle="tab" href="#sectionA">Public Page</a></li>
        <li><a data-toggle="tab" href="#sectionB">Closed Page</a></li>
        <li><a data-toggle="tab" href="#sectionC">Dataverse</a></li>
        </ul>
<div class="tab-content">
<div id="sectionA" class="tab-pane fade">
<div class="settings">
<h2>{{ projectdata.title }}</h2>
{% if projectdata.browsedata %}
<div id="block-views-introduction-block" class="block block-views last even">
{% else %}
<div id="block-views-introduction-wideblock" class="block block-views last even">
{% endif %}
        <h2 class="block__title block-title">About</h2>

  <div class="view view-introduction view-id-introduction view-display-id-block view-dom-id-943e4ea54bf0fe59cab13cfb9d6e2d45">

      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

  <div class="views-field views-field-body">        <div class="field-content"><p>
<div class="introfont">
{{ projectdata.about | safe }}
</div>
</p> 
</div>  </div>  </div>
    </div>
</div>
</div>

{% if projectdata.browsedata %}
<div>
  <div class="region-inner region-preface-second-inner">
<div class="block-inner clearfix">
<div id="block-menu-menu-explore-discover" class="block block-menu first odd" role="navigation">

        <h2 class="block__title block-title">Explore &amp; datasets</h2>
    
{% if projectdata.browsedata %}
<ul class="menu">
  <li class="menu__item is-leaf first leaf"><a href="/collabs/datasetspace?dv={{ dataverse }}&action=indicators" title="" class="menu__link">Public datasets</a></li>
{% endif %}
{% if projectdata.harvarddataverse %}
<li class="menu__item is-leaf leaf"><a href="https://cliov4.sandbox.socialhistoryservices.org/datasets/search" title="" class="menu__link">Harvard network datasets</a></li>
{% endif %}
{% if projectdata.iishdataverses %}
<li class="menu__item is-leaf last leaf"><a href="/collabs/datasetspace?dv={{ dataverse }}&action=indicators" title="" class="menu__link">IISH datasets</a></li>
{% endif %}
{% if projectdata.workingpapers %}
<li class="menu__item is-leaf last leaf"><a href="/collabs/datasetspace?dv={{ dataverse }}&action=indicators" title="" class="menu__link">Working papers</a></li>
{% endif %}
</ul>
</div>

</div>
</div></div>
{% endif %}

{% if projectdata.description %}
<div id="block-views-desc-block" class="block block-views last even">

  <h2 class="block__title block-title">Brief description of the project</h2>
  <div class="view view-introduction view-id-introduction view-display-id-block view-dom-id-943e4ea54bf0fe59cab13cfb9d6e2d45">
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
      
  <div class="views-field views-field-body">        <div class="field-content"><p>
{{ projectdata.description | safe }}
</p> 
</div>  </div>  </div>
    </div>
</div>
</div>
{% endif %}

<div id="block-views-visualization-block" class="block block-views last even">
        <h2 class="block__title block-title">Visualize datasets</h2>
  <a href="https://www.clio-infra.eu/analyze/maps?dataset=latest"><img width="450" height="180" src="/static/mapsample.png"></a>
</div>

<br />
<table border=0 valign=top width="100%">
	<tr>
	<td width="100%" valign="top">
	{{ projectdata.summary | safe }}
	</td>
	</tr>
</table>
</div>
</div>
                <div id="sectionB" class="tab-pane fade">
{% if not username %}
		<center>
                <h2 class="text-muted">Restricted Access</h2>
		Please <a href="/login">login</a> to access the private section.
		</center>
{% else %}
<div class="settings">
<h2>{{ projectdata.closedtitle }}</h2>
<div id="block-views-introduction-block" class="block block-views last even">

        <h2 class="block__title block-title">About</h2>

  <div class="view view-introduction view-id-introduction view-display-id-block view-dom-id-943e4ea54bf0fe59cab13cfb9d6e2d45">

      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

  <div class="views-field views-field-body">        <div class="field-content"><p>
<div class="introfont">
{{ projectdata.closedabout | safe }}
</div>
</p>
</div>  </div>  </div>
    </div>
</div>
</div>

<div>
  <div class="region-inner region-preface-second-inner">
<div class="block-inner clearfix">
<div id="block-menu-menu-explore-discover" class="block block-menu first odd" role="navigation">

        <h2 class="block__title block-title">Explore &amp; datasets</h2>

<ul class="menu">
{% if projectdata.closedbrowsedata %}
  <li class="menu__item is-leaf first leaf"><a href="/collabs/datasetspace?dv={{ dataverse }}&action=indicators" title="" class="menu__link">Public datasets</a></li>
{% endif %}
{% if projectdata.closedharvarddataverse %}
<li class="menu__item is-leaf leaf"><a href="https://cliov4.sandbox.socialhistoryservices.org/datasets/search" title="" class="menu__link">Harvard network datasets</a></li>
{% endif %}
{% if projectdata.closediishdataverses %}
<li class="menu__item is-leaf last leaf"><a href="/collabs/datasetspace?dv={{ dataverse }}&action=indicators" title="" class="menu__link">IISH datasets</a></li>
{% endif %}
{% if projectdata.closedworkingpapers %}
<li class="menu__item is-leaf last leaf"><a href="/collabs/datasetspace?dv={{ dataverse }}&action=indicators" title="" class="menu__link">Working papers</a></li>
{% endif %}
</ul>
</div>

</div>
</div></div>

{% if projectdata.closeddescription %}
<div id="block-views-desc-block" class="block block-views last even">

  <h2 class="block__title block-title">Brief description of the project</h2>
  <div class="view view-introduction view-id-introduction view-display-id-block view-dom-id-943e4ea54bf0fe59cab13cfb9d6e2d45">
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

  <div class="views-field views-field-body">        <div class="field-content"><p>
{{ projectdata.closeddescription | safe }}
</p>
</div>  </div>  </div>
    </div>
</div>
</div>
{% else %}
<div id="block-views-chart-block" class="block block-views last even">
	<center>
        <h2 class="block__title block-title">Visualize data</h2>
  <a href="https://www.clio-infra.eu/analyze/maps?dataset=latest"><img width="450" height="180" src="/static/mapsample.png"></a>
	</center>
</div>
{% endif %}
{% if projectdata.closeddescription %}
<div id="block-views-visualization-block" class="block block-views last even">
        <h2 class="block__title block-title">Visualize datasets</h2>
  <a href="https://www.clio-infra.eu/analyze/maps?dataset=latest"><img width="450" height="180" src="/static/mapsample.png"></a>
</div>
{% endif %}

<br />
<table border=0 valign=top width="100%">
        <tr>
        <td width="100%" valign="top">
        {{ projectdata.closedsummary | safe }}
        </td>
        </tr>
</table>
</div>
{% endif %}
                </div>

                <div id="sectionC" class="tab-pane fade">
		<div id="block-views-dataverse-block" class="block block-views last even">
		<section class="fill-height-or-more">
                <iframe src='https://datasets.socialhistory.org/dataverse/{{ dataverse }}' height="100%" width="100%" style='height:100vh;overflow:hidden;overflow-x:hidden;overflow-y:hidden;'></iframe>
		</section>
		</div>
                </div>

</div>
</div>
{% endblock %}
