<!DOCTYPE html>
<meta charset="utf-8">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="//npr.github.io/responsiveiframe/js/jquery.responsiveiframe.js"></script>

<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.right {
        float: right;
}

.left {
        float: left;
}

</style>
<body>
{% if indicators %}
  <select name="handles" class="right" onchange="mapswitch($(this).val())">
     <option value="{{ handle }}" selected>{{ title }}</option>
     {% for handle in indicators %}
     <option value="{{ handle }}">{{ handledict[handle] }}</option>
     {% endfor %}
  </select>
  </div>
{% endif %}
{% if showpanel %}
  <select name="viz" class="left" onchange="vizswitch($(this).val())">
     <option value="2" selected>Time Series Plot</option>
     <option value="1">Panel Bar</option>
     <option value="3">Bar Graph</option>
     <option value="4">Treemap</option>
  </select>

{% endif %}
<br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="/collabs/static/nlgis/params.js"></script>
<script>
{% if apilink %}
  apilink = "{{ apilink|safe }}";
{% else %}
  apilink = "/api/tabledata?" + uri;
{% endif %}
</script>
<script>
function vizswitch(viztype) {
   if (viztype == '1')
   {
        window.location = "{{ panellib|safe }}";
   }
   if (viztype == '2')
   {
        window.location = "{{ chartlib|safe }}";
   }
   if (viztype == '3')
   {
        window.location = "{{ barlib|safe }}";
   }
   if (viztype == '4')
   {
        window.location = "{{ treemaplib|safe }}";
   }

}


var margin = {top: 20, right: 80, bottom: 30, left: 50},
    width = 900 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

var parseDate = d3.time.format("%Y").parse;

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var color;
var stroke = [];
if (colors == 'greyscale')
{
color = d3.scale.category20b()
    .range(["#000", "#111" , "#222", '#333', '#444', '#555', '#666', '#777', '#888', '#999', '#aaa', '#bbb', '#ccc', '#ddd', '#eee', '#fff']);
    stroke = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]; 
}
else
{
     color = d3.scale.category20b();
}

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var line = d3.svg.line()
    .interpolate("basis")
    .defined(function(d) { return !isNaN(d.temperature); })
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.temperature); });

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var cid = -1;
d3.tsv(apilink, function(error, data) {
  if (error) throw error;

  color.domain(d3.keys(data[0]).filter(function(key) { return key !== "date"; }));

  data.forEach(function(d) {
    d.date = parseDate(d.date);
  });

  var cities = color.domain().map(function(name) {
    cid = cid + 1;
    return {
      cid: cid,
      name: name,
      values: data.map(function(d) {
        return {date: d.date, temperature: +d[name]};
      })
    };
  });

  x.domain(d3.extent(data, function(d) { return d.date; }));

  y.domain([
    d3.min(cities, function(c) { return d3.min(c.values, function(v) { return v.temperature; }); }),
    d3.max(cities, function(c) { return d3.max(c.values, function(v) { return v.temperature; }); })
  ]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("units");

  var city = svg.selectAll(".city")
      .data(cities)
    .enter().append("g")
      .attr("class", "city");

  city.append("path")
      .attr("class", "line")
      .attr("d", function(d) { return line(d.values); })
      .style("stroke-dasharray", function(d) { return (stroke[d.cid], stroke[d.cid]); })
      .style("stroke", function(d) { return color(d.name); });

  city.append("text")
      .datum(function(d) { return {name: d.name, value: d.values[d.values.length - 1]}; })
      .attr("transform", function(d) { return "translate(" + x(d.value.date) + "," + y(d.value.temperature) + ")"; })
      .attr("x", 3)
      .attr("dy", ".35em")
      .text(function(d) { return d.name; });
});

</script>
{% if showpanel %}
<p align="left">
<a href="/collabs/chartlib?start=on&print=yes&{{ handle | safe}}" target=_blank>Print</p><br>
{% endif %}
