{% extends "settings.html" %}
{% block closedprojectdetails %}
        <div class="form-group">
                <label for="passwordField">Project title</label>
                        <input name="closedtitle" type="text" class="form-control input-sm" id="title" placeholder="Enter title of the project, for example, Labor Conflicts" value="{{ fields.closedtitle }}">
        </div>
        <div class="form-group">
                <label for="about">About</label>
                <textarea name="closedabout" class="form-control custom-control" id="about" rows="3" autofocus="" style="resize:horizontal" placeholder="Motivation of the project">{{ fields.closedabout }}</textarea>
        </div>
        <div class="form-group">
                <label for="passwordField">Project logo (optional)</label>
                        <input name="closedlogo" type="text" class="form-control" id="title" placeholder="Enter http:// URL to project logo" value="{{ fields.closedlogo }}">
        </div>
	<input name="username" type="hidden" value="{{ username }}">

        <div class="form-group">
                <label for="passwordField">Short description of the project (optional)</label>
                <textarea name="closeddescription" class="form-control custom-control" id="textareaID" rows="3" autofocus="" style="resize:horizontal" placeholder="Enter full description of the project">{{ fields.closeddescription }}</textarea>
        </div>

        <div class="form-group">
                <label for="fulldescription">Summary (optional)</label>
                <textarea name="closedsummary" class="form-control custom-control" id="textareaID" rows="3" autofocus="" style="resize:horizontal" placeholder="Enter full description of the project">{{ fields.closedsummary }}</textarea>
        </div>

        <div class="form-group">
                <label for="fulldescription">Contact (optional)</label>
                <textarea name="closedcontact" class="form-control custom-control" id="textareaID" rows="3" autofocus="" style="resize:horizontal" placeholder="Enter contact information">{{ fields.closedcontact }}</textarea>
        </div>

        <div class="form-group">
                <label for="partners">Partners (optional)</label>
                <textarea name="closedpartners" class="form-control custom-control" id="textareaID" rows="3" autofocus="" style="resize:horizontal" placeholder="Enter information about partners of the project">{{ fields.closedpartners }}</textarea>
        </div>

        <div class="form-group">
                <label for="partners">News (optional)</label>
                <textarea name="closednews" class="form-control custom-control" id="textareaID" rows="3" autofocus="" style="resize:horizontal" placeholder="Latest news">{{ fields.closednews }}</textarea>
        </div>

	<div class="form-group">
	<table class="table table-bordered">
        <thead>
            <tr>
                <th>Navigation</th>
                <th>Visualization</th>
                <th>Statistics</th>
                <th>Extra pages</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                <input type="checkbox" name="closedsearchmetadata" {{ fields.closedsearchmetadata }}> Metadata Search<br>
                <input type="checkbox" name="closedbrowsedata" {{ fields.closedbrowsedata }}> Browse Datasets <br>
                <input type="checkbox" name="closedfulltextsearch" {{ fields.closedfulltextsearch }}> Full-text Search <br>
		<input type="checkbox" name="closediishdataverses" {{ fields.closediishdataverses }}> Search in IISH Dataverses <br>
		<input type="checkbox" name="closedharvarddataverse" {{ fields.closedharvarddataverse }}> Harvard Dataverse<br>
                <input type="checkbox" name="closedworkingpapers" {{ fields.closedworkingpapers }}> Working papers<br>
                </td>
                <td>
                Maps<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="closedmodmaps" {{ fields.closedmodmaps }}> Modern map<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="closedhistmaps" {{ fields.closedhistmaps }}> Historical map<br>
                Graphs<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="closedchart" {{ fields.closedchart }}> Chart<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="closedhistogram" {{ fields.closedhistogram }}> Histogram<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="closedquality" {{ fields.closedquality }}> Data quality<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="closedtreemaps" {{ fields.closedtreemaps }}> Treemaps

                </td>
                <td>
                <input type="checkbox" name="closedmin" {{ fields.closedmin }}> Min<br>
                <input type="checkbox" name="closedmax" {{ fields.closedmax }}> Max <br>
                <input type="checkbox" name="closedmean" {{ fields.closedmean }}> Mean<br>
                <input type="checkbox" name="closedmedian" {{ fields.closedmedian }}> Median <br>
                <input type="checkbox" name="closedstd" {{ fields.closedstd }}> Standard Deviation<br>
		<input type="checkbox" name="closedcov" {{ fields.closedcov }}> Coefficient of Variation
                </td>
                <td>
                <input type="checkbox" name="closednews" {{ fields.closednews }}> News<br>
                <input type="checkbox" name="closedpapersblock" {{ fields.closedpapersblock }}> Papers <br>
		<input type="checkbox" name="closedcontact" {{ fields.closedcontact }}> Contact<br>
		<input type="checkbox" name="closedpartners" {{ fields.closedpartners }}> Partners<br>

                </td>
            </tr>
        </tbody>
    </table>
    </div>
{% endblock %}
{% block projectdetails %}
        <div class="form-group">
		<label for="passwordField inline">Project URI</label>
                        <input name="uri" type="uri" class="form-control" id="passwordField" placeholder="URI like /myproject should correspond to Dataverse URI like https://datasets.socialhistory.org/dataverse/myproject" value="{{ fields.uri }}">
    	</div>
        <div class="form-group">
                <label for="passwordField">Project title</label>
                        <input name="title" type="text" class="form-control input-sm" id="title" placeholder="Enter title of the project, for example, Labor Conflicts" value="{{ fields.title }}">
        </div>
        <div class="form-group">
                <label for="about">About</label>
                <textarea name="about" class="form-control custom-control" id="about" rows="3" autofocus="" style="resize:horizontal" placeholder="Motivation of the project">{{ fields.about }}</textarea>
        </div>
        <div class="form-group">
                <label for="passwordField">Project logo (optional)</label>
                        <input name="logo" type="text" class="form-control" id="title" placeholder="Enter http:// URL to project logo" value="{{ fields.logo }}">
        </div>
	<input name="username" type="hidden" value="{{ username }}">

        <div class="form-group">
                <label for="passwordField">Short description of the project (optional)</label>
                <textarea name="description" class="form-control custom-control" id="textareaID" rows="3" autofocus="" style="resize:horizontal" placeholder="Enter full description of the project">{{ fields.description }}</textarea>
        </div>

        <div class="form-group">
                <label for="fulldescription">Summary (optional)</label>
                <textarea name="summary" class="form-control custom-control" id="textareaID" rows="3" autofocus="" style="resize:horizontal" placeholder="Enter full description of the project">{{ fields.summary }}</textarea>
        </div>

        <div class="form-group">
                <label for="fulldescription">Contact (optional)</label>
                <textarea name="contact" class="form-control custom-control" id="textareaID" rows="3" autofocus="" style="resize:horizontal" placeholder="Enter contact information">{{ fields.contact }}</textarea>
        </div>

        <div class="form-group">
                <label for="partners">Partners (optional)</label>
                <textarea name="summary" class="form-control custom-control" id="textareaID" rows="3" autofocus="" style="resize:horizontal" placeholder="Enter information about partners of the project">{{ fields.partners }}</textarea>
        </div>

        <div class="form-group">
                <label for="partners">News (optional)</label>
                <textarea name="summary" class="form-control custom-control" id="textareaID" rows="3" autofocus="" style="resize:horizontal" placeholder="Latest news">{{ fields.news }}</textarea>
        </div>

	<div class="form-group">
	<table class="table table-bordered">
        <thead>
            <tr>
                <th>Navigation</th>
                <th>Visualization</th>
                <th>Statistics</th>
                <th>Extra pages</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                <input type="checkbox" name="searchmetadata" {{ fields.searchmetadata }}> Metadata Search<br>
                <input type="checkbox" name="browsedata" {{ fields.browsedata }}> Browse Datasets <br>
                <input type="checkbox" name="fulltextsearch" {{ fields.fulltextsearch }}> Full-text Search <br>
		<input type="checkbox" name="iishdataverses" {{ fields.iishdataverses }}> Search in IISH Dataverses <br>
		<input type="checkbox" name="harvarddataverse" {{ fields.harvarddataverse }}> Harvard Dataverse<br>
                <input type="checkbox" name="workingpapers" {{ fields.workingpapers }}> Working papers<br>
                </td>
                <td>
                Maps<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="modmaps" {{ fields.modmaps }}> Modern map<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="histmaps" {{ fields.histmaps }}> Historical map<br>
                Graphs<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="chart" {{ fields.chart }}> Chart<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="histogram" {{ fields.histogram }}> Histogram<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="quality" {{ fields.quality }}> Data quality<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="treemaps" {{ fields.treemaps }}> Treemaps

                </td>
                <td>
                <input type="checkbox" name="min" {{ fields.min }}> Min<br>
                <input type="checkbox" name="max" {{ fields.max }}> Max <br>
                <input type="checkbox" name="mean" {{ fields.mean }}> Mean<br>
                <input type="checkbox" name="median" {{ fields.median }}> Median <br>
                <input type="checkbox" name="std" {{ fields.std }}> Standard Deviation<br>
		<input type="checkbox" name="cov" {{ fields.cov }}> Coefficient of Variation
                </td>
                <td>
                <input type="checkbox" name="news" {{ fields.news }}> News<br>
                <input type="checkbox" name="papersblock" {{ fields.papersblock }}> Papers <br>
		<input type="checkbox" name="contact" {{ fields.contact }}> Contact<br>
		<input type="checkbox" name="partners" {{ fields.partners }}> Partners<br>

                </td>
            </tr>
        </tbody>
    </table>
    </div>
{% endblock %}

{% block newseditor %}
<h2>News Editor</h2>
{% if createnews %}
        <div class="form-group">
                <label for="passwordField">News title</label>
                        <input name="newstitle" type="text" class="form-control input-sm" id="title" placeholder="Title of the news" value="">
        </div>
                <label for="passwordField">News summary</label>
        <div class="form-group">
                <textarea name="newssummary" class="form-control custom-control" id="textareaID" rows="3" autofocus="" style="resize:horizontal" placeholder="Please enter the text, HTML is supported"></textarea>

		<label for="passwordField">News text</label>
        <div class="form-group">
                <textarea name="newstext" class="form-control custom-control" id="textareaID" rows="10" autofocus="" style="resize:horizontal" placeholder="Please enter the text, HTML is supported"></textarea>
        </div>
{% elif editnews %}
        <div class="form-group">
                <label for="passwordField">News title</label>
                        <input name="newstitle" type="text" class="form-control input-sm" id="title" placeholder="Title of the news" value="{{ fields.newstitle }}">
        </div>
                <label for="passwordField">News summary</label>
        <div class="form-group">
                <textarea name="newssummary" class="form-control custom-control" id="textareaID" rows="3" autofocus="" style="resize:horizontal" placeholder="Please enter the text, HTML is supported">{{ fields.newssummary|safe }}</textarea>

                <label for="passwordField">News text</label>
        <div class="form-group">
                <textarea name="newstext" class="form-control custom-control" id="textareaID" rows="10" autofocus="" style="resize:horizontal" placeholder="Please enter the text, HTML is supported">{{ fields.newstext|safe }}</textarea>
        </div>
{% else %}
<div>
                <a href="/collabs/settings?project=labourrelations&view=newseditor&action=edit&newsid={{ fields.newsid }}">{{ fields.newstitle }}</a>&nbsp;|&nbsp;<a href="/collabs/settings?project=labourrelations&view=newseditor&action=edit&newsid={{ fields.newsid }}">Edit</a>
                <br>
		{{ fields.newssummary }}
                <br>Updated: 2016-03-18 13:11
        </span>
        </div>
        <br />
        <p>
        <a href="/collabs/settings?project=labourrelations&view=newseditor&action=create">Create News Article</a>
        </p>
        </div>
{% endif %}

{% endblock %}
