<!DOCTYPE html>
<meta charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="//npr.github.io/responsiveiframe/js/jquery.responsiveiframe.js"></script>
<head>
	<style>
	.axis {
	  font: 10px sans-serif;
	}
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
	</style>
</head>

<body>
	
{% if showpanel %}
  <select name="viz" class="alright" onchange="vizswitch($(this).val())">
     <option value="3">Bar Graph</option>
     <option value="1">Panel Bar</option>
     <option value="2">Time Series Plot</option>
     <option value="4">Treemap</option>
  </select>
{% endif %}

<script src="//d3js.org/d3.v3.min.js"></script>
<script>
function vizswitch(viztype) {
   if (viztype == '1')
   {
        window.location = "{{ panellib|safe }}";
   }
   if (viztype == '2')
   {
        window.location = "{{ chartlib|safe }}";
   }
   if (viztype == '3')
   {
        window.location = "{{ barlib|safe }}";
   }
   if (viztype == '4')
   {
        window.location = "{{ treemaplib|safe }}";
   }
}

    var uri = '';
    var myurl=window.location.toString();
  if (myurl.indexOf("start=") > 0) {
    handle=myurl.substring(myurl.indexOf("start=")+6);
    cindex=myurl.indexOf("&");
    if (cindex > 0) {
      uri = handle.substring(2,myurl.length);
    };
  };
  apilink = "/api/tabledata?" + uri; 
</script>
<script>
var margin = {top: 20, right: 20, bottom: 70, left: 40},
    width = 900 - margin.left - margin.right,
    height = 380 - margin.top - margin.bottom;
// Parse the date / time
var	parseDate = d3.time.format("%Y").parse;
var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);
var y = d3.scale.linear().range([height, 0]);
var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .tickFormat(d3.time.format("%Y"));
var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10);
var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", 
          "translate(" + margin.left + "," + margin.top + ")");
d3.csv(apilink, function(error, data) {
    data.forEach(function(d) {
        d.date = parseDate(d.date);
        d.value = +d.value;
    });
	
  x.domain(data.map(function(d) { return d.date; }));
  y.domain([0, d3.max(data, function(d) { return d.value; })]);
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .selectAll("text")
      .style("text-anchor", "end")
      .attr("dx", "-.8em")
      .attr("dy", "-.55em")
      .attr("transform", "rotate(-90)" );
  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("value");
  svg.selectAll("bar")
      .data(data)
    .enter().append("rect")
      .style("fill", "steelblue")
      .attr("x", function(d) { return x(d.date); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.value); })
      .attr("height", function(d) { return height - y(d.value); });
});
</script>
{% if showpanel %}
<p align="left">
<a href="/collabs/graphlib?start=on&print=yes&{{ handle | safe}}" target=_blank>Print</p><br>
{% endif %}
</body>
