<body>
<head>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="http://npr.github.io/responsiveiframe/js/jquery.responsiveiframe.js"></script>

<script>
    var myurl=window.location.toString();
    myurl = myurl + '&';
  if (myurl.indexOf("dataset=") > 0) {
    handle=myurl.substring(myurl.indexOf("dataset=")+8);
    cindex=myurl.indexOf("&");
    if (cindex > 0) {
      handle=handle.substring(0,cindex);
    };
  };
  mapyear = 2012;
  year = '';
  if (myurl.indexOf("year=") > 0) {
    yearstr=myurl.substring(myurl.indexOf("year=")+5);
    cindex=yearstr.indexOf("&");
    if (cindex > 0) {
      year=yearstr.substring(0,cindex);
    };
   };

  if (myurl.indexOf("mapyear=") > 0) {
    yearstr=myurl.substring(myurl.indexOf("mapyear=")+8);
    cindex=yearstr.indexOf("&");
    if (cindex > 0) {
      mapyear=yearstr.substring(0,cindex);
    };
   };

   var colors = ''; 
   if (myurl.indexOf("colors=") > 0) {
    cstr=myurl.substring(myurl.indexOf("colors=")+7);
    cindex=cstr.indexOf("&");
    if (cindex > 0) {
      colors=cstr.substring(0,cindex);
    };
   };
  
   var mapurl = "/collabs/static/v/worldmap.html?start=on&action=map&dataset={{ dataset }}&ctrlist={{ customcountrycodes }}";
   var starturl = mapurl + '&colors=' + colors + '&year=' + year;
 
  $(function() {
    var select = $( "#yearslider" );
    var sliderTooltip = function(event, ui) {
    var curValue = $( "#yearslider option:selected" ).text() || '0';
    var tooltip = '<div class="tooltip"><div class="tooltip-inner">' + curValue + '</div><div class="tooltip-arrow"></div></div>';

    $('.ui-slider-handle').html(tooltip);

}
    var slider = $( "<div id='slider'></div>" )
      .insertAfter( select ).slider({
      min: 1,
      max: {{ steps }},
      range: "min",
      value: select[ 0 ].selectedIndex + 1,
      create: sliderTooltip,
      slide: function( event, ui ) {
        select[ 0 ].selectedIndex = ui.value - 1;
        $('.slider-time2').html($( "#yearslider option:selected" ).text());
	$("#yearlab").html(', ' + $( "#yearslider option:selected" ).text());
	document.getElementById('worldmap').src = '' + mapurl + '&colors=' + colors + '&year=' + $( "#yearslider option:selected" ).text();
        sliderTooltip(event, ui);
      }
    });
    $( "#yearslider" ).change(function() {
      slider.slider( "value", this.selectedIndex + 1 );
    });
  });
  </script>

<script type='text/javascript'>
$(function() {
  $('iframe').responsiveIframe({xdomain: '*'});
});

function greyscale(x){
    alert('grey');
};
</script>

</head>
<body>
<div id="map" style='border:0; width:820px; height:600px;'>
<center><h2>{{ title }}<label id="yearlab"></label></h2></center>
<iframe id="worldmap" src='' style='border:0; width:150%; overflow: hidden; height: 420px;' scrolling="no"></iframe>
<script>document.getElementById('worldmap').src = starturl;</script>
<form id="ynavi" style='border:1; width: 820px;'>
    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold; text-align:left;">
    <input type="checkbox" id="greyscale" onclick="greyscale('grey');">Greyscale
    <input type="checkbox" id="logscale" onclick="alert('log scale');">Log scale
  <select name="years" id="yearslider">
  {% for year in years %}
    <option>{{ year }}</option>
  {% endfor %}
  </select>
</form>
</div>
</body>
