<body>
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="//npr.github.io/responsiveiframe/js/jquery.responsiveiframe.js"></script>
  <script src="/collabs/static/nlgis/params.js"></script>
  <style>
  .indicators select {
	float: center;
  }
  .indicators h3 {
	text-align: center;
  }
  .alright {
	float: right;
	margin-top: -10px;
   }
  </style>
  
<script>
   var thiscolor = '';
   var histo = '';
   var mapurl = "/collabs/static/v/worldmap.html?start=on&action=map&dataset={{ dataset }}&handle={{ handle }}&catmax={{ catmax }}&ctrlist={{ customcountrycodes }}";
   var printurl = "/collabs/print?handle={{ handle }}&catmax={{ catmax }}&ctrlist={{ customcountrycodes }}";
   var starturl = mapurl + '&year=' + year + '&lasty={{ lastyear }}';

   {% if geocoder %}
   histo = '{{ geocoder }}';
   mapurl = mapurl + "&histo={{ geocoder }}";
   printurl = printurl + "&histo={{ geocoder }}";
   starturl = starturl + "&histo={{ geocoder }}";
   {% endif %}
 
  $(function() {
    $('#logscale2').attr('checked', false);
    $('#logscale10').attr('checked', false);
    $('#greyscale').attr('checked', false);
    $('#histo').attr('checked', false);
    var select = $( "#yearslider" );
    var sliderTooltip = function(event, ui, start) {
    var curValue = $( "#yearslider option:selected" ).text() || '0';
    if (typeof(start) == 'undefined')
    {
        curValue = {{ lastyear }};
    }

    var tooltip = '<div class="tooltip"><div class="tooltip-inner">' + curValue + '</div><div class="tooltip-arrow"></div></div>';

    $('.ui-slider-handle').html(tooltip);

}
    var slider = $( "<div id='slider'></div>" )
      .insertAfter( select ).slider({
      min: 1,
      max: {{ steps }},
      range: "min",
      value: {{ steps }},
      create: sliderTooltip,
      slide: function( event, ui ) {
        select[ 0 ].selectedIndex = ui.value - 1;
        $('.slider-time2').html($( "#yearslider option:selected" ).text());
	$("#yearlab").html(', ' + $( "#yearslider option:selected" ).text());
        if ($('#logscale2').is(':checked')) {
	    logscale = 2;
	}
        if ($('#logscale10').is(':checked')) {
            logscale = 10;
        }
        if ($('#greyscale').is(':checked')) {
            colors = 'greyscale';
        }
        if ($('#histo').is(':checked')) {
            histo = 'on';
        }

	document.getElementById('worldmap').src = '' + mapurl + '&colors=' + colors + '&year=' + $( "#yearslider option:selected" ).text() + '&logscale=' + logscale + '&histo=' + histo;
	document.getElementById('print').href = printurl + '&colors=' + colors + '&year=' + $( "#yearslider option:selected" ).text() + '&histo=' + histo;
        sliderTooltip(event, ui, 1);
      }
    });
    $( "#yearslider" ).change(function() {
      slider.slider( "value", this.selectedIndex + 1 );
      var curValue = $( "#yearslider option:selected" ).text() || '0';
      var tooltip = '<div class="tooltip"><div class="tooltip-inner">' + curValue + '</div><div class="tooltip-arrow"></div></div>';
      $('.ui-slider-handle').html(tooltip);
        $('.slider-time2').html($( "#yearslider option:selected" ).text());
        $("#yearlab").html(', ' + $( "#yearslider option:selected" ).text());
      document.getElementById('worldmap').src = '' + mapurl + '&colors=' + colors + '&year=' + $( "#yearslider option:selected" ).text() + '&histo=' + $( "#histo:checked" ).length;
    });
  });
  </script>

<script type='text/javascript'>
$(function() {
  $('iframe').responsiveIframe({xdomain: '*'});
});

</script>

</head>
<body>
<div id="map" style='border:0; width:900px; height:410px;'>
<div class="indicators"><h3>{{ title }}<label id="yearlab">, {{ lastyear }}</label></h3>
{% if indicators %}
  <select name="handles" class="alright" onchange="mapswitch($(this).val())">
     <option value="{{ handle }}" selected>{{ title }}</option>
     {% for handle in indicators %}
     <option value="{{ handle }}">{{ handledict[handle] }}</option>
     {% endfor %}
  </select>
  </div>
{% endif %}
<iframe id="worldmap" src='' style='border:0; width:100%; overflow: hidden; height: 410px;' scrolling="no"></iframe>
<script>document.getElementById('worldmap').src = starturl + '&colors=' + colors;</script>
<form id="ynavi" style='border:0; width: 880px;'>
    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold; text-align:left;">
    <label id="printlab"><a href="/collabs/print?handle={{ handle }}&catmax={{ catmax }}&ctrlist={{ customcountrycodes }}&year={{ lastyear }}&histo={{ geocoder }}" id="print" target=_blank>Print</a>&nbsp;</label>
    <input type="checkbox" id="histo" onclick="historical()">Historical
    <input type="checkbox" id="greyscale" onclick="ingrey()">Greyscale
    <input type="checkbox" id="logscale2" onclick="inlog(2);">Log2
    <input type="checkbox" id="logscale10" onclick="inlog(10);">Log10
  <select name="years" id="yearslider">
  {% for year in years %}
    <option>{{ year }}</option>
  {% endfor %}
  </select>
</form>
<script>
if (histo)
{
   document.getElementById("histo").checked = true;
}
{% if lastyear %}
document.getElementById("yearslider").value = '{{ lastyear }}';
{% endif %}

function mapswitch(newhandle) {
   window.location = "{{ thismapurl|safe }}&face=" + newhandle;
}

function historical() {

    if ($('#histo').is(':checked')) {
        histo = 'on';
    }
    else
    {
        histo = '';
    }
    document.getElementById('worldmap').src = mapurl + '&year=' + $( "#yearslider option:selected" ).text() + '&lasty={{ lastyear }}' + '&colors=' + colors + '&logscale=' + logscale + '&histo=' + histo;
}

function ingrey() {
    if ($('#greyscale').is(':checked')) {
	colors = 'greyscale';
    }
    else
    {
        colors = '';
    }
    document.getElementById('worldmap').src = starturl + '&colors=' + colors + '&logscale=' + logscale;
}
function inlog(clog) {
    if ($('#logscale' + clog).is(':checked')) {
        logscale = clog;
	if (clog == 2)
	{
	    $('#logscale10').attr('checked', false);
	}
        if (clog == 10)
        {
            $('#logscale2').attr('checked', false);
        }
    }
    else
    {
        logscale = '';
    }
    document.getElementById('worldmap').src = starturl + '&colors=' + colors + '&logscale=' + logscale;
    if (histo)
    {
	document.getElementById('worldmap').src = document.getElementById('worldmap').src + '&histo=' + histo;
    }
}
</script>
</div>
</body>
