<!DOCTYPE html>
<meta charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="/collabs/static/jquery.responsiveiframe.js"></script>
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

</style>
  <style>
  .indicators select {
        float: center;
  }
  .indicators h3 {
        text-align: center;
	font: 20px;
  }
  .alright {
        float: left;
        margin-top: 5px;
   }
  </style>

<body>
{% if showpanel %}
  <select name="viz" class="alright" onchange="vizswitch($(this).val())">
     <option value="1" selected>Panel Bar</option>
     <option value="2">Time Series Plot</option>
     <option value="3">Bar Graph</option>
     <option value="4">Treemap</option>
  </select>
<center>
<div class="indicators"><h3>{{ title }}<label id="yearlab"> {{ lastyear }}</label></h3>
</h2>
</center>
{% endif %}
<br>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script>
function vizswitch(viztype) {
   if (viztype == '1')
   {
	window.location = "{{ panellib|safe }}";
   }
   if (viztype == '2')
   {
	window.location = "{{ chartlib|safe }}";
   }
   if (viztype == '3')
   {
        window.location = "{{ barlib|safe }}";
   }
   if (viztype == '4')
   {
	window.location = "{{ treemaplib|safe }}";
   }
}
var margin = {top: 20, right: 20, bottom: 20, left: 40}
    width = 920 - margin.left - margin.right,
    height = 380 - margin.top - margin.bottom;

var x0 = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var x1 = d3.scale.ordinal();

var y = d3.scale.linear()
    .range([height, 0]);

var color = d3.scale.ordinal()
    .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

var xAxis = d3.svg.axis()
    .scale(x0)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(d3.format(".2s"));

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.csv("/api/panel?{{ handle|safe }}", function(error, data) {
  if (error) throw error;

  var ageNames = d3.keys(data[0]).filter(function(key) { return key !== "Country"; });

  data.forEach(function(d) {
    d.ages = ageNames.map(function(name) { return {name: name, value: +d[name]}; });
  });

  x0.domain(data.map(function(d) { return d.Country; }));
  x1.domain(ageNames).rangeRoundBands([0, x0.rangeBand()]);
  y.domain([0, d3.max(data, function(d) { return d3.max(d.ages, function(d) { return d.value; }); })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Indicators");

  var state = svg.selectAll(".state")
      .data(data)
    .enter().append("g")
      .attr("class", "g")
      .attr("transform", function(d) { return "translate(" + x0(d.Country) + ",0)"; });

  state.selectAll("rect")
      .data(function(d) { return d.ages; })
    .enter().append("rect")
      .attr("width", x1.rangeBand())
      .attr("x", function(d) { return x1(d.name); })
      .attr("y", function(d) { return y(d.value) + margin.top; })
      .attr("height", function(d) { return height - y(d.value) - margin.top; })
      .style("fill", function(d) { return color(d.name); });

  var legend = svg.selectAll(".legend")
      .data(ageNames.slice().reverse())
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  legend.append("rect")
      .attr("x", 40)
      .attr("y", 0)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

  legend.append("text")
      .attr("x", 60)
      .attr("y", 6)
      .attr("dy", ".35em")
      .style("text-anchor", "start")
      .text(function(d) { return d; });

});

</script>
{% if showpanel %}
<p align="left">
<a href="/collabs/panel?start=on&print=yes&{{ handle | safe}}" target=_blank>Print</p><br>
{% endif %}
</body>
