<html>
<body>
<center>
<h3>{{ title }}, {{ year }}</h3>

<img width="960" height="400" src="/collabs/printall?handle={{ handle }}&catmax=6&ctrlist=&year={{ year }}">
<p>
Source: {{ citation }}
<br><br>
Dataset Persistent link: <a href="http://hdl.handle.net/{{ uhandle }}">http://hdl.handle.net/{{ uhandle }}</a>
<br>
{{ mapcopyright|safe }}
</p>
<br>
<p>
<font size=-1>
Warning: Please note that map rendering is slow process and can take around 20-30 seconds.
</font>
</p>
</center>
</body>
</html>
