{% extends "iish/iishbase.html" %}
{% block content %}
    <link rel="stylesheet" href="/static/blocks.css" media="screen" type="text/css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link href="https://www.bootstrap-switch.org/docs/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://www.bootstrap-switch.org/docs/css/highlight.css" rel="stylesheet">
    <link href="https://www.bootstrap-switch.org/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="https://getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">

<script type="text/javascript">
$(document).ready(function(){ 
    $("#myTab li:eq({{ tabnum }}) a").tab('show');
});
</script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<div id="bodycontent">
{% if username %}
	<form action="/collabs/settings" method="POST">
    	<ul class="nav nav-tabs" id="myTab">
        <li><a data-toggle="tab" href="#sectionA">Public Page</a></li>
        <li><a data-toggle="tab" href="#sectionB">Closed Page</a></li>
    	</ul>

	<div class="settings">
		<div class="tab-content">

		<div id="sectionA" class="tab-pane fade">
			<h2 class="text-muted">Create/Edit new project page</h2>
    			{% block projectdetails %}{% endblock %}
        		<div class="form-group">
			<label for="question inline"><input type="checkbox" name="closed" {{ fields.closed }}> Tick this checkbox if you do have closed datasets in your project</label>
        		</div>
		</div>

    		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    		<script>
    		$("[name='Search']").bootstrapSwitch();
    		</script>
    		<script src="https://www.bootstrap-switch.org/docs/js/highlight.js"></script>
    		<script src="https://www.bootstrap-switch.org/dist/js/bootstrap-switch.js"></script>

		<div id="sectionB" class="tab-pane fade">
		<h2 class="text-muted">Restricted Section</h2>
    		{% block closedprojectdetails %}{% endblock %}
		</div>

		<button type="submit" class="btn btn-success">Save</button>
	</div>
{% else %}
	<center>
	Please <a href="/login">login</a> first...
	</center>
{% endif %}
	</div>
	</div>
</div>
{% endblock %}
