{% extends "base_collection.html" %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create project page</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link href="http://www.bootstrap-switch.org/docs/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.bootstrap-switch.org/docs/css/highlight.css" rel="stylesheet">
    <link href="http://www.bootstrap-switch.org/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<div class="container">
<h2 class="text-muted">Create new project page</h1>
<form method="GET">
        <div class="form-group">
    		<label for="emailField">Email</label>
			<input name="email" type="email" class="input-small inline" id="emailField" placeholder="Enter email" value="{{ fields.email }}">
    		<label for="passwordField inline">Password</label>
			<input name="passwd" type="password" class="input-small inline" id="passwordField" placeholder="Enter password" value="{{ fields.passwd }}">
		<label for="passwordField inline">Project URI</label>
                        <input name="uri" type="uri" class="input-small inline" id="passwordField" placeholder="URI like /myproject" value="{{ fields.uri }}">
    	</div>
        <div class="form-group">
                <label for="passwordField">Project title</label>
                        <input name="title" type="text" class="form-control" id="title" placeholder="Enter title of the project, for example, Labor Conflicts" value="{{ fields.title }}">
        </div>
        <div class="form-group">
                <label for="about">About</label>
                <textarea name="about" class="form-control custom-control" id="about" rows="3" autofocus="" style="resize:none" placeholder="Motivation of the project">{{ fields.about }}</textarea>
        </div>
        <div class="form-group">
                <label for="passwordField">Project logo (optional)</label>
                        <input name="logo" type="text" class="form-control" id="title" placeholder="Enter http:// URL to project logo" value="{{ fields.logo }}">
        </div>

        <div class="form-group">
                <label for="passwordField">Short description of the project (optional)</label>
                        <input name="description" type="description" class="form-control" id="title" placeholder="Enter description" value="{{ fields.description }}">
        </div>

        <div class="form-group">
                <label for="fulldescription">Summary (optional)</label>
                <textarea name="summary" class="form-control custom-control" id="textareaID" rows="3" autofocus="" style="resize:none" placeholder="Enter full description of the project">{{ fields.summary }}</textarea>
        </div>

	<div class="form-group">
	<table class="table table-bordered">
        <thead>
            <tr>
                <th>Navigation</th>
                <th>Search</th>
                <th>Visualization</th>
                <th>Statistics</th>
                <th>Extra pages</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                <input type="checkbox" name="ind" checked> Indicators<br>
                <input type="checkbox" name="datasets" {{ fields.datasets }}> Datasets<br>
                <input type="checkbox" name="countries" {{ fields.countries }}> Countries
                </td>
                <td>
                <input type="checkbox" name="searchdata" {{ fields.searchdata }}> Dataset<br>
                <input type="checkbox" name="searchmetadata" {{ fields.searchmetadata }}> Metadata <br>
                <input type="checkbox" name="searchpapers" {{ fields.searchpapers }}> Papers <br>
                </td>
                <td>
                Maps<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="modmaps" {{ fields.modmaps }}> Modern map<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="histmaps" {{ fields.histmaps }}> Historical map<br>
                Graphs<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="chart" {{ fields.chart }}> Chart<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="histogram" {{ fields.histogram }}> Histogram<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="quality" {{ fields.quality }}> Data quality<br>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="treemaps" {{ fields.treemaps }}> Treemaps

                </td>
                <td>
                <input type="checkbox" name="min" {{ fields.min }}> Min<br>
                <input type="checkbox" name="max" {{ fields.max }}> Max <br>
                <input type="checkbox" name="mean" {{ fields.mean }}> Mean<br>
                <input type="checkbox" name="median" {{ fields.median }}> Median <br>
                <input type="checkbox" name="std" {{ fields.std }}> Standard Deviation<br>
		<input type="checkbox" name="cov" {{ fields.cov }}> Coefficient of Variation
                </td>
                <td>
                <input type="checkbox" name="news" {{ fields.news }}> News<br>
                <input type="checkbox" name="papersblock" {{ fields.papersblock }}> Papers <br>
		<input type="checkbox" name="contact" {{ fields.contact }}> Contact<br>
		<input type="checkbox" name="partners" {{ fields.partners }}> Partners<br>

                </td>
            </tr>
        </tbody>
    </table>
    </div>
        <div class="form-group">
                <label for="passwordField inline">Dataverse URL (optional)</label>
                        <input name="dataverse" type="text" size="50" class="inline" id="passwordField" placeholder="link to dataverse with data" value="{{ fields.dataverse }}">
                <label for="passwordField inline">API Token (optional)</label>
                        <input name="apitoken" type="uri" class="input-small inline" id="passwordField" placeholder="Dataverse token is optional" value="{{ fields.apitoken }}">
        </div>

	<button type="submit" class="btn btn-success">Proceed</button>
    </form>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
    $("[name='Search']").bootstrapSwitch();
    </script>
    <script src="http://www.bootstrap-switch.org/docs/js/highlight.js"></script>
    <script src="http://www.bootstrap-switch.org/dist/js/bootstrap-switch.js"></script>
{% endblock %}
