<!DOCTYPE html>
<meta charset="utf-8">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="/collabs/static/jquery.responsiveiframe.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//d3js.org/d3.v3.min.js"></script>
<style>

body {
  font: 10px sans-serif;
  margin: auto;
  position: relative;
  width: 900px;
}

form {
  position: relative;
}

label.sort {
    float: left;
}

label.switch {
    float: right;
}

#years {
  height: 40px;
  float: right;
}

#ynavi {
  margin-top: 10px;
  text-align: right;
  border:0; 
  width: 900px;
  position: relative;  
  vertical-align: bottom;
}
.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

</style>
<body>
<center>
<div class="indicators"><h1>{{ title }}<label id="yearlab">, {{ lastyear }}</label></h1>
</center>
  <select name="viz" class="alright" onchange="vizswitch($(this).val())">
     <option value="4" selected>Treemap</option>
     <option value="1">Panel Bar</option>
     <option value="2">Time Series Plot</option>
     <option value="3">Bar Graph</option>
  </select>

<form>
  <label class="sort"><input type="radio" id="mode" name="mode" value="size" checked> By values</label>
  <label class="sort"><input type="radio" id="mode" name="mode" value="count"> By count</label>
    <label class="switch"><input type="checkbox" name="histo" id="histo" onclick="historical();">Historical</label>
    <label class="switch"><input type="checkbox" name="greyscale" id="greyscale">Greyscale</label>
</form>
<script>
var rootlink = "/api/treemap?handle={{ handle }}";
parent.postMessage("treemap", "*");
function vizswitch(viztype) {
   if (viztype == '1')
   {
        window.location = "{{ panellib|safe }}";
   }
   if (viztype == '2')
   {
        window.location = "{{ chartlib|safe }}";
   }
   if (viztype == '3')
   {
        window.location = "{{ barlib|safe }}";
   }
   if (viztype == '4')
   {
        window.location = "{{ treemaplib|safe }}";
   }
}

var margin = {top: 40, right: 0, bottom: 10, left: 0},
    width = 900 - margin.left - margin.right,
    height = 360 - margin.top - margin.bottom;

var color = d3.scale.category20c();

var treemap = d3.layout.treemap()
    .size([width, height])
    .sticky(false)
    .value(function(d) { return d.size; });

var div = d3.select("body").append("div")
    .style("position", "relative")
    .style("width", (width + margin.left + margin.right) + "px")
    .style("height", (height + margin.top + margin.bottom) + "px")
    .style("left", margin.left + "px")
    .style("top", margin.top + "px");

var apilink = rootlink + "&historical={{ historical }}&year={{ thisyear }}";
buildtreemap(apilink);

function buildtreemap(apiurl) 
{
  d3.json(apiurl, function(error, root) {
  if (error) throw error;

  var dataroot = root;
  var node = div.datum(root).selectAll(".node")
      .data(treemap.nodes)
    .enter().append("div")
      .attr("class", "node")
      .call(position)
      .style("background", function(d) { return color(d.children) ? color(d.name) : null; })
      .text(function(d) { return d.children ? null : d.name; });

  d3.selectAll("#mode").on("change", function change() {
    var value = this.value === "count"
        ? function() { return 1; }
        : function(d) { return d.size; };

    node
        .data(treemap.value(value).nodes)
      .transition()
        .duration(800)
        .call(position);
  });
  });
};

function refreshtreemap(apiurl) 
{
  var root;
  d3.json(apiurl, function(error, root2) {
  if (error) throw error;

  div.datum(root).selectAll(".node").remove();
  root = root2;
  var node = div.datum(root).selectAll(".node")
      .data(treemap.nodes(root))
    .enter().append("div")
      .attr("class", "node")
      .transition()
      .duration(800)
      .style("background", function(d) { return color(d.children) ? color(d.name) : null; })
      .text(function(d) { return d.children ? null : d.name; })
      .call(position);

    console.log("treemap", treemap.nodes(root2));
    console.log(apiurl);
  });
};

function position() {
  this.style("left", function(d) { return d.x + "px"; })
      .style("top", function(d) { return d.y + "px"; })
      .style("width", function(d) { return Math.max(0, d.dx - 1) + "px"; })
      .style("height", function(d) { return Math.max(0, d.dy - 1) + "px"; });
}
</script>

<script>
    var select = $( "#yearslider" );
    var sliderTooltip = function(event, ui, start) {
    var curValue = $( "#yearslider option:selected" ).text() || '0';
    if (typeof(start) == 'undefined')
    {
        curValue = {{ lastyear }};
    }

    var tooltip = '<div class="tooltip"><div class="tooltip-inner">' + curValue + '</div><div class="tooltip-arrow"></div></div>';

    $('.ui-slider-handle').html(tooltip);
  }

  $(function() {
    var select = $( "#yearslider" );
    var slider = $( "<div id='slider'></div>" ).insertAfter( select ).slider({
      min: 1,
      max: {{ total }},
      range: "min",
      value: select[ 0 ].selectedIndex + 1,
      slide: function( event, ui ) {
        select[ 0 ].selectedIndex = ui.value - 1;
        $('.slider-time2').html($( "#yearslider option:selected" ).text());
        $("#yearlab").html(', ' + $( "#yearslider option:selected" ).text());

        var apilink = rootlink + "&historical=&year=" + $( "#yearslider option:selected" ).text();
	refreshtreemap(apilink);
      }
    });

    $( "#yearslider" ).change(function() {
      slider.slider( "value", this.selectedIndex + 1 );

      var curValue = $( "#yearslider option:selected" ).text() || '0';
      var tooltip = '<div class="tooltip"><div class="tooltip-inner">' + curValue + '</div><div class="tooltip-arrow"></div></div>';
      $('.slider-time2').html($( "#yearslider option:selected" ).text());
      $("#yearlab").html(', ' + $( "#yearslider option:selected" ).text());
      var apilink = rootlink + "&historical=&year=" + curValue;
      refreshtreemap(apilink);

    });
  });

  function historical()
  {
     var apilink = rootlink + "&historical=on&year=" + $( "#yearslider option:selected" ).text();
     refreshtreemap(apilink);
  }

</script>

<form id="ynavi">
  <select name="years" id="yearslider">
  {% for year in years %}
    <option>{{ year }}</option>
  {% endfor %}
  </select>
</form>
<script>
{% if lastyear %}
document.getElementById("yearslider").value = '{{ lastyear }}';
{% endif %}
</script>

</body>
